.loginComponent{
    
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    border: 10px solid forestgreen;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 0;
    padding: 15px;
    z-index: 999;
    button {
        background-color: forestgreen;
        width: 150px;
        margin-top: 6%;
        margin-bottom: 6%;
        border-radius: 10px;
    }
       
}
.userPhotoDiv img {
width: 50px;
border: 8px solid forestgreen;
border-radius: 120px;
padding: 10px;
}

.switchFrame{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
align-content: center;
align-self: center;
width: 80%;
}


.loginFormDiv{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
button {
    background-color: forestgreen;
    width: 150px;
    margin-top: 6%;
    margin-bottom: 6%;
    border-radius: 10px;
}


}

form{
width: 80%;
text-align: left;
align-self: center;
font-size: 0.8em;

}

form label{
font-size: 0.8em;
}

::-webkit-input-placeholder { font-size: 0.7em; }
::-moz-placeholder { font-size: 0.7em; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 0.7em; } /* ie */
input:-moz-placeholder { font-size: 0.7em; }

form input{
width: 100%;
}


.switchValue{
font-size: 0.8em;
}

@media screen and (max-width: 500px){
.loginComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    align-content: center;
    align-self: center;
    margin-top: 25%;
    overflow-y: scroll;
    z-index: 997;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    
}
.userPhotoDiv img {
    width: 80px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-self: center;
    
   

}

::-webkit-input-placeholder { font-size: 0.7em; }
::-moz-placeholder { font-size: 0.7em; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 0.7em; } /* ie */
input:-moz-placeholder { font-size: 0.7em; }

form input{
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    
    
}
form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.loginFormDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: auto;
    align-self: center;
}    

}