/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Header/Header.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
* {
    font-size: 30px;
    
}
nav{
    background-color: #567361;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    height: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.navLogo{
    width: 80%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-self: center;
    align-items: center;

}
h1 {
    color: white;
    font-size: 30px;
    margin-right: 5px;
}
Button{
    border: none;
    background: transparent;
    color: white;
}

.navLink {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
}

nav Button :hover {
    transform: scale(1.1)
}
.counter{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1.5%;
    color: forestgreen;
    font-size: 0.5em;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.mobileNavbar {
    display: none;
}

@media screen and (max-width: 500px){
    
    .DesktopNav{
        display: none;
    }
    .mobileNavbar{
        display: flex;
    }
    nav{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        
       
        
    }

    .navLogo{
        position: fixed;
        text-align: center;
        top: 0;
        background-color: #679436;
        width: 100%;
    }

    .navLink{
        width: 100%;
        padding: 6%;
        float: inline-end;
        position: fixed;
        bottom: 0;
        align-items: center;
        justify-content: space-around;
        z-index: 999;
        overflow: hidden;
        background-color: #679436;
        overflow: hidden;
    }
    .navLink button {
        color: white;
        width: 0.5em;
        


    }
    .counter{
        position: absolute;
        justify-content: center;
        align-items: center;
        color: forestgreen;
        left: 24%;
        top: 21%;
        font-size: 0.4em;
        background-color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Login/Login.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
#loginComponent{
    
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   
       
}


#link {
    margin-top: 5px;
    
    font-size: 0.5em;
    color: gray;
    text-align: center;
}


#loginFormDivi{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
}

#formi{
width: 100%;
display: flex;
flex-direction: column;
align-self: center;
justify-content: center;
font-size: 0.8em;

}
#title{
    font-size: 1em;
    margin-top: 45px;
    margin-bottom: 50px;
}
#password{
   font-size: 0.7em;
   font-weight: bold;
}
#email{
    font-size: 0.7em;
    margin-top: 20px;
    font-weight: bold;
 }


#formi label{
font-size: 0.8em;
display: flex;
flex-direction: column;
text-align: left;



}
#button{
    background-color: #567361;
    width: 90%;
    font-size: 0.9em;
    height: 35px;
    margin-top: 35px;
    border-radius: 15px;
    margin-bottom: 25px;
    align-self: center;
}

::-webkit-input-placeholder { font-size: 0.7em; }
::-moz-placeholder { font-size: 0.7em; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 0.7em; } /* ie */
input:-moz-placeholder { font-size: 0.7em; }

#email input{
width: 100%;
margin-top: 5px;
font-size: 1em;
height: 35px;
border: none;
border-bottom: 1px solid #567361;
margin-bottom: 15px;
}
#password input{
    width: 100%;
    margin-top: 5px;
    font-size: 1em;
    height: 35px;

    border: none;
    border-bottom: 1px solid #567361;
    margin-bottom: 15px;
    }
#loged{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    
#titleLogged{
    margin-top: 15px;
    font-size: 1em;
    margin-bottom: 25px;
}
#userOption li{
    font-size: 1.5em;
    text-align: left;
}

#userOption{
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 0.5em;
    
}
#userOption button{
    width: 250px;
    background-color: #567361;
}
#mask{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    align-self: center;
    margin-top: 25px;
    outline-offset: 5px;
    outline: 5px solid #567361;
}

@media screen and (max-width: 500px){
.loginComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    align-content: center;
    align-self: center;
    overflow-y: auto;
    z-index: 997;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
  
    
}
.userPhotoDiv img {
    width: 80px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-self: center;
    overflow-y: auto;
   

}

::-webkit-input-placeholder { font-size: 0.7em; }
::-moz-placeholder { font-size: 0.7em; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 0.7em; } /* ie */
input:-moz-placeholder { font-size: 0.7em; }

form input{
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    
    
}
form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 

}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Cart/Cart.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

.cart {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    justify-content: left;
    align-items: center;
    font-size: 0.5em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-collapse: collapse;
    right: 0;
    z-index: 999;
    padding: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#table {
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
}
#item{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 35px;
    justify-content: space-between;
}
#tableTitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    font-size: 0.5em;
    
}
#tableTitle span{
    font-size: 1.2em;
    font-weight: bold;
}
#cartLenght{
    max-height: 640px;
    overflow-x: auto;
    
}



#cartTitle{
    width: 100%;
    display: flex;
    color: black;
    margin-top: 7%;
    margin-bottom: 9%;
    text-align: left;
    
    
}
#cartTitle h2{
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    justify-content: flex-start;
}
#itemName{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#productSpect{
    display: flex;
    flex-direction: row;
}
#price{
    display: flex;
    top: 0;
    
}


#selectedPlant{
    display: flex;
    justify-content: flex-start;
}


#item img {
    width: 110px;
    height: 110px;
    border-radius: 25px;
    margin-right: 15px;
    

}
#titleItem{
    font-size: 0.8em;
    font-weight: bold;
}
#itemQte{
    font-size: 0.7em;
    color: gray;
}
#itemPrice{
    font-size: 0.7em;
    font-weight: bold;
    color: black;
    text-align: start;
}
#summary{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 0.5px solid rgb(200, 199, 199);
    border-bottom: 0.5px solid rgb(200, 199, 199);
}
#summarySpan{
    font-size: 0.8em;
    font-weight: bold;
}
#totalSum{
    font-size: 0.8em;
    font-weight: bold;
}
#termOfServices{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: left;
    margin-top: 15px
}
#agreeTerm{
    font-size: 0.5em;
    color: gray;
}
#CheckTermsOfService{
    margin-right: 5px;
}

#proceed{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    
}

#proceed button {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #567361;
    color: white;
    font-size: 0.7em;
    text-align: center;
}
#proceed a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#emptySpect{
    display: flex;
    justify-content: center;
    align-items: center;
}

#emptyCart{
    align-self: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 25px;
}
 


@media screen and (max-width: 500px){

.cart {
    position: fixed;
    width: 100%;
    max-height: 91.5%;
    border-radius: 0;
    
}
tfoot td{
    font-size: 0.8em;
}

}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/cartProduct/CartProduct.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
#container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#rollBackLink > *{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 35px;
    margin-left: 75px;
    text-decoration: none;
    color: black;

}
#row{
    width: 90%;
    max-width: 2000px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
   
}

#title{
    margin-top: 55px;
    margin-bottom: 35px;
    font-size: 1.2em;
}

#productFrame{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 900px;
    border-top: 1px solid grey;
    margin-bottom: 35px
}
#infoProduct{
    width: 100%;
    height: 170px;
    justify-content: space-between;
    border-left: 6px solid #567361;
    border-top-left-radius: 5px; /* Arrondi du coin supérieur gauche */
    border-bottom-left-radius: 5px; 
    
}
#productTitle{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    width: 100%;
    

}
#qteProduct{
    margin-right: 20px;
}

#productDescription p{
    margin-top: 10px;
    padding-left: 15px;
    font-size: 0.55em;
    width: 80%;
}

#imgProduct{
    width: 450px;
    height: 170px;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#imgprod{
    width: 450px;
    top: 0; /* Permet de centrer l'image */
    margin: 0 auto;
    
}
#priceSection{
    margin-left: 15px;
    margin-top: 10px;
}
#footerProduct{
    display: flex;
    width: 40%;
    flex-direction: row;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}
#optionPannel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
#optionPannel button{
    width: 35px;
    height: 35px;
    color: #567361;
}
#pricingFrame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 125px;
    width: 450px;
    height: 350px;
    background-color: rgb(243, 240, 240);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding-bottom: 2%;
}

#pricingTitle{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 3%;
    border-bottom: 0.5px solid gray;
}

#line{
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-between;
    margin-bottom: 10px;
}
#confirmPayment{
    border: 1px solid black ;
    width: 70%;
    align-self: center;
    padding: 10px;
    color: black;
    background-color: white ;
    border-radius: 15px;
    margin-top: 10px;
}
#confirmPayment:hover{
    transform: scale(1.05);
}
#subtitle{
    color: gray;
    font-size: 0.8em;
}
