*{
    margin: 0;
    padding: 0;
  }
#container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#row{
    display: flex;
    width: 70%;
    flex-direction: column;
   
}
#rollBackLink{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 35px;
    text-decoration: none;

}

#rollBackLink > * {
    margin-top: 35px;
    align-self: flex-start;
    text-decoration: none;
    color: black; /* Aligne les éléments enfants à gauche à l'intérieur de l'élément */
}
Link {
    text-decoration: none; /* Supprime la décoration de soulignement du lien */
}


#frame{
    margin-top: 35px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 1145px;
  
   
}


#left-pannel{ 
    
    img {
    width: 550px;
    height: 550px;
    border-radius: 25px;
    align-self: flex-start;}
}
#quantity{
    width: 105px;
    border: 1px solid #567361;
    align-self: self-start;
    font-size: 0.8em;
    border-radius: 25px;
    margin-top: 15px;
    height: 50px;
    color: #567361;
    text-align: center;
}
select{
    font-size: 0.8em;
    background-color: white;
}
option{
    font-size: 0.8em;
}
#addToCart{
    width: 365px;
    background-color: #567361;
    align-self: self-start;
    border-radius: 25px;
    margin-top: 15px;
    height: 50px;
}
#buyNow{
    width: 365px;
    border: 2px solid #567361;
    align-self: self-start;
    border-radius: 25px;
    margin-top: 15px;
    height: 50px;
    color: #567361;
}

#buyNow > *{
    text-decoration: none;
    color: #567361;
}

#right-pannel{
    flex: 1;
    width: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    max-height: 450px; 
    margin-left: 50px;
    padding: 0 20px; ;
}

#title{
    display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-top: 8px;
        
   

}

#title h1{
    color: black;
    text-align: left;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
    
}
    #text{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 30px;
    }
    #description{
        word-wrap: break-word;
        width: 100%;
        font-size: 0.8em;
        max-height: 216px;
        text-align: left;
        justify-content: center;
         

    }
    #icon{
        display: flex;
        flex-direction: row;
        width: 18%;
        align-content: center;
        justify-content: space-evenly;
        color:  #7BAB8D;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #pricing{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin-top: 8px;

    }
    #price{
        font-size: 0.6em;
        margin-bottom: 5px;
        color: gray;
        margin-left: 2px;
    }
    


p img{
    width: 35px;
    height: 35px;
}

@media all and (max-width: 1100px) {
    #frame{
        flex-direction: column;
        width: 60%;
    }
    #right-pannel{
        width: 550px;
        margin-left: 0;
        align-self: flex-start;
        
    }
    #description{
        width: 100%;
    }
    #left-pannel{
        width: 100%;
        margin-left: 0;
        p{
            width: 100%;
        }
    }
}
@media all and (max-width: 500px){
    
    #row{
        width: 90%;
      
        
    }
    #frame{
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: center;
        
    }
    #right-pannel{
        width: 350px;
        margin-left: 0;
        align-self: flex-start;
        padding: 0;
        text-align: center;
        
    }
    #description{
        width: 90%;
    }
    #left-pannel{
        width: 100%;
        margin-left: 0;
        p{
            width: 100%;
        }
        img {
            width: 300px;
            height: 300px;
            border-radius: 25px;
            align-self: flex-start;}
    }
}

