/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Header/Header.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
* {
    font-size: 30px;
    
}
nav{
    background-color: #567361;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    height: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.navLogo{
    width: 80%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-self: center;
    align-items: center;

}
h1 {
    color: white;
    font-size: 30px;
    margin-right: 5px;
}
Button{
    border: none;
    background: transparent;
    color: white;
}

.navLink {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
}

nav Button :hover {
    transform: scale(1.1)
}
.counter{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1.5%;
    color: forestgreen;
    font-size: 0.5em;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.mobileNavbar {
    display: none;
}

@media screen and (max-width: 500px){
    
    .DesktopNav{
        display: none;
    }
    .mobileNavbar{
        display: flex;
    }
    nav{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        
       
        
    }

    .navLogo{
        position: fixed;
        text-align: center;
        top: 0;
        background-color: #679436;
        width: 100%;
    }

    .navLink{
        width: 100%;
        padding: 6%;
        float: inline-end;
        position: fixed;
        bottom: 0;
        align-items: center;
        justify-content: space-around;
        z-index: 999;
        overflow: hidden;
        background-color: #679436;
        overflow: hidden;
    }
    .navLink button {
        color: white;
        width: 0.5em;
        


    }
    .counter{
        position: absolute;
        justify-content: center;
        align-items: center;
        color: forestgreen;
        left: 24%;
        top: 21%;
        font-size: 0.4em;
        background-color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Cart/Cart.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

.cart {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    justify-content: left;
    align-items: center;
    font-size: 0.5em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-collapse: collapse;
    right: 0;
    z-index: 999;
    padding: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#table {
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
}
#item{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 35px;
    justify-content: space-between;
}
#tableTitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(200, 199, 199);
    font-size: 0.5em;
    
}
#tableTitle span{
    font-size: 1.2em;
    font-weight: bold;
}
#cartLenght{
    max-height: 640px;
    overflow-x: auto;
    
}



#cartTitle{
    width: 100%;
    display: flex;
    color: black;
    margin-top: 7%;
    margin-bottom: 9%;
    text-align: left;
    
    
}
#cartTitle h2{
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    justify-content: flex-start;
}
#itemName{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#productSpect{
    display: flex;
    flex-direction: row;
}
#price{
    display: flex;
    top: 0;
    
}


#selectedPlant{
    display: flex;
    justify-content: flex-start;
}


#item img {
    width: 110px;
    height: 110px;
    border-radius: 25px;
    margin-right: 15px;
    

}
#titleItem{
    font-size: 0.8em;
    font-weight: bold;
}
#itemQte{
    font-size: 0.7em;
    color: gray;
}
#itemPrice{
    font-size: 0.7em;
    font-weight: bold;
    color: black;
    text-align: start;
}
#summary{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 0.5px solid rgb(200, 199, 199);
    border-bottom: 0.5px solid rgb(200, 199, 199);
}
#summarySpan{
    font-size: 0.8em;
    font-weight: bold;
}
#totalSum{
    font-size: 0.8em;
    font-weight: bold;
}
#termOfServices{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: left;
    margin-top: 15px
}
#agreeTerm{
    font-size: 0.7em;
    color: gray;
}
#CheckTermsOfService{
    margin-right: 5px;
}

#proceed{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    
}

#proceed button {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #567361;
    color: white;
    font-size: 0.7em;
    text-align: center;
}
#proceed a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#emptySpect{
    display: flex;
    justify-content: center;
    align-items: center;
}

#emptyCart{
    align-self: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 25px;
}
 


@media screen and (max-width: 500px){

.cart {
    position: fixed;
    width: 100%;
    max-height: 91.5%;
    border-radius: 0;
    
}
tfoot td{
    font-size: 0.8em;
}

}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Login/Login.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.loginComponent{
    
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    border: 10px solid forestgreen;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 0;
    padding: 15px;
    z-index: 999;
    button {
        background-color: forestgreen;
        width: 150px;
        margin-top: 6%;
        margin-bottom: 6%;
        border-radius: 10px;
        align-self: center;
    }
       
}
.userPhotoDiv img {
width: 50px;
border: 8px solid forestgreen;
border-radius: 120px;
padding: 10px;
}

.switchFrame{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
align-content: center;
align-self: center;
width: 100%;
margin-bottom: 20px;
}


.loginFormDiv{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
button {
    background-color: forestgreen;
    width: 150px;
    margin-top: 6%;
    margin-bottom: 6%;
    border-radius: 10px;
}


}

form{
width: 95%;
align-self: center;
justify-content: center;
font-size: 0.8em;

}
form button{
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

form label{
font-size: 0.8em;
display: flex;
flex-direction: column;
text-align: left;
margin-bottom: 20px;


}

::-webkit-input-placeholder { font-size: 0.7em; }
::-moz-placeholder { font-size: 0.7em; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 0.7em; } /* ie */
input:-moz-placeholder { font-size: 0.7em; }

form input{
width: 100%;
margin-top: 5px;
}


.switchValue{
font-size: 0.8em;
}

@media screen and (max-width: 500px){
.loginComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    align-content: center;
    align-self: center;
    overflow-y: auto;
    z-index: 997;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
  
    
}
.userPhotoDiv img {
    width: 80px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-self: center;
    overflow-y: auto;
   

}

::-webkit-input-placeholder { font-size: 0.7em; }
::-moz-placeholder { font-size: 0.7em; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 0.7em; } /* ie */
input:-moz-placeholder { font-size: 0.7em; }

form input{
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    
    
}
form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.loginFormDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: auto;
    align-self: center;
}    

}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/component/Item/Item.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
*{
    margin: 0;
    padding: 0;
  }
#container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#row{
    display: flex;
    width: 70%;
    flex-direction: column;
   
}
#rollBackLink{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 35px;
    text-decoration: none;

}

#rollBackLink > * {
    margin-top: 35px;
    align-self: flex-start;
    text-decoration: none;
    color: black; /* Aligne les éléments enfants à gauche à l'intérieur de l'élément */
}
Link {
    text-decoration: none; /* Supprime la décoration de soulignement du lien */
}


#frame{
    margin-top: 35px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 1145px;
  
   
}


#left-pannel{ 
    
    img {
    width: 550px;
    height: 550px;
    border-radius: 25px;
    align-self: flex-start;}
}
#quantity{
    width: 105px;
    border: 1px solid #567361;
    align-self: self-start;
    font-size: 0.8em;
    border-radius: 25px;
    margin-top: 15px;
    height: 50px;
    color: #567361;
    text-align: center;
}
select{
    font-size: 0.8em;
    background-color: white;
}
option{
    font-size: 0.8em;
}
#addToCart{
    width: 365px;
    background-color: #567361;
    align-self: self-start;
    border-radius: 25px;
    margin-top: 15px;
    height: 50px;
}
#buyNow{
    width: 365px;
    border: 2px solid #567361;
    align-self: self-start;
    border-radius: 25px;
    margin-top: 15px;
    height: 50px;
    color: #567361;
}

#buyNow > *{
    text-decoration: none;
    color: #567361;
}

#right-pannel{
    flex: 1 1;
    width: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    max-height: 450px; 
    margin-left: 50px;
    padding: 0 20px; ;
}

#title{
    display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-top: 8px;
        
   

}

#title h1{
    color: black;
    text-align: left;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
    
}
    #text{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 30px;
    }
    #description{
        word-wrap: break-word;
        width: 100%;
        font-size: 0.8em;
        max-height: 216px;
        text-align: left;
        justify-content: center;
         

    }
    #icon{
        display: flex;
        flex-direction: row;
        width: 18%;
        align-content: center;
        justify-content: space-evenly;
        color:  #7BAB8D;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #pricing{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin-top: 8px;

    }
    #price{
        font-size: 0.6em;
        margin-bottom: 5px;
        color: gray;
        margin-left: 2px;
    }
    


p img{
    width: 35px;
    height: 35px;
}

@media all and (max-width: 1100px) {
    #frame{
        flex-direction: column;
        width: 60%;
    }
    #right-pannel{
        width: 550px;
        margin-left: 0;
        align-self: flex-start;
        
    }
    #description{
        width: 100%;
    }
    #left-pannel{
        width: 100%;
        margin-left: 0;
        p{
            width: 100%;
        }
    }
}
@media all and (max-width: 500px){
    
    #row{
        width: 90%;
      
        
    }
    #frame{
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: center;
        
    }
    #right-pannel{
        width: 350px;
        margin-left: 0;
        align-self: flex-start;
        padding: 0;
        text-align: center;
        
    }
    #description{
        width: 90%;
    }
    #left-pannel{
        width: 100%;
        margin-left: 0;
        p{
            width: 100%;
        }
        img {
            width: 300px;
            height: 300px;
            border-radius: 25px;
            align-self: flex-start;}
    }
}


